.judul {
    width: 25%;
    padding-top: 12px;
    padding-bottom: 12px;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    font-size: 50px;
    border-radius: 20px;
    text-align: center;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    

}

.tag {
    background-color: antiquewhite;
    padding-top: 12px;
    padding-bottom: 12px;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    font-size: 25px;
    border-radius: 10px;
    text-align: center;
    margin: auto;
    margin-bottom: 10px;

}

.form {
    margin-bottom: 25px;
    background-color: blanchedalmond;
    width: 25%;
    padding-bottom: 12px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    padding-top: 12px;
    margin: auto;
}

.inputname {
    border: 10px;
    background-color: white;
    border-style: solid;
    border-width: medium;
    border-radius: 10px;
    padding: 12px 20px;
}

.inputtentang {
    border: 10px;
    background-color: white;
    border-style: solid;
    border-width: medium;
    border-radius: 10px;
    padding: 12px 20px;
}

.inputpendidikan {
    border: 10px;
    background-color: white;
    border-style: solid;
    border-width: medium;
    border-radius: 10px;
    padding: 12px 20px;
}

.inputpengalaman {
    border: 10px;
    background-color: white;
    border-style: solid;
    border-width: medium;
    border-radius: 10px;
    padding: 12px 20px;
}

.submit {
    background-color: cadetblue;
    color: white;
    padding: 10px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.submit:hover {
    background-color: rgb(0, 0, 88);
    color: white;
}

.reset {
    color: white;
    padding: 10px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: lightcoral;
}

.reset:hover {
    background-color: crimson;
    color: white;
}

.inputfoto {
    border: 10px;
    background-color: white;
    border-style: solid;
    border-width: medium;
    border-radius: 10px;
    padding: 12px 20px;
}

.inputkeahlian {
    border: 10px;
    background-color: white;
    border-style: solid;
    border-width: medium;
    border-radius: 10px;
    padding: 12px 20px;
}

.table {
    margin: auto;
    border-style: solid;
    border-width: medium;
    border-radius: 10px;
}

.judul {
    background-color: blanchedalmond;
    border-style: solid;
    border-width: medium;
}

.isi {
    background-color: antiquewhite;
    border-style: solid;
    border-width: medium;

}

.a {
    border-bottom-style: solid;
    border-width: medium;
    border-right-style: solid;
    font-size: large;
}

.z {
    border-bottom-style: solid;
    border-width: medium;
    font-size: large;
}

.y {
    border-width: medium;
}

.b {
    border-width: medium;
    border-right-style: solid;
}

.biodata {
    border-radius: 10px;
    
}

.biojudul {
    background-color: rgb(248, 252, 175);
    border-width: medium;
    border: 5px;
    border-style: solid;
    border-color: rgb(255, 232, 205);
    text-align: center;

}

.isibio {
    background-color: rgb(248, 252, 175);
    border-width: medium;
    border: 5px;
    border-style: solid;
    border-color: rgb(255, 232, 205);
}

.kontakbio {
    background-color: rgb(248, 252, 175);
    border-width: medium;
    border: 5px;
    border-style: solid;
    border-color: rgb(255, 232, 205);
}

.bioa {
    background-color: rgb(248, 252, 175);
    border-width: medium;
    border: 5px;
    border-style: solid;
    border-color: rgb(255, 232, 205);
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.nav li {
    float: left;
}

.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav li a:hover {
    background-color: #111;
}

/* smartphone, default dari 0px sampai minwidth selanjutnya*/
.biojudul > img{
    width: 50%;
}
.table{
    width: 100%;
}
.form{
    width: 100%;
}
.judul{
    width: 100%;
}
.tag{
    width: 100%;
}

/* tablet, jika memasuki 768px */
@media (min-width : 768px){
    .biojudul > img{
        width:30%;
    }
    .table{
        width: 80%;
    }
    .form{
        width: 80%;
    }
    .judul{
        width: 80%;
    }
    .tag{
        width: 80%;
    }
}


/* pc, jika memasuki 992px */
@media (min-width : 992px){
    .biojudul > img{
        width: 10%;
    }
    .table{
        width: 60%;
    }
    .form{
        width: 60%;
    }
    .judul{
        width: 60%;
    }
    .tag{
        width: 60%;
    }
}
